@tailwind base;
@tailwind components;
@tailwind utilities;

/* From Public Directory */
@font-face {
  font-family: "cairo-css";
  src: url("../public/Cairo/Cairo-VariableFont_slnt\,wght.ttf");
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.poppins {
  font-family: var(--poppins-font);
}
/* Hide scrollbars */
::-webkit-scrollbar {
  display: none;
}
